<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <div class="Project">
    <h2>My Projects</h2>
    <ul>
        <li><a href="project1.html">Project 1: Realtime Tracker</a></li>
        <li><a href="project2.html">Project 2: Portfolio</a></li>
    </ul>
</div>
</body>
</html>